

<div id="user-box">
    <div id="user-box-list">
        <ul class = "userList" *ngIf = "chatUsersList">
            <li *ngFor = "let user of chatUsersList">
                <app-chat-user 
                    [userName] = user.userName
                    [userId] = user.id
                    [isUserConnected] = user.userConnectionStatus
                    (userClickedEvent) = "notifyUserClicked($event)"
                >
                </app-chat-user>
            </li>
        </ul>
    </div>
</div>


